<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="rekyuu">

    <title>SoulsBorne Randomizer</title>
    <link rel="stylesheet" href='<%= static_path(@conn, "/css/app.css") %>'>
    <link rel="icon" type="image/png" href='<%= static_path(@conn, "/images/favicon.png") %>'>
  </head>

  <body>
    <div id="main" class="ui container">
      <nav class="ui secondary pointing menu">
        <a href="/" id="header" class="item">SoulsBorne Randomizer</a>

        <div class="right menu">
          <a href="https://github.com/rekyuu/souls_runs" class="ui item">GitHub</a>
        </div>
      </nav>

      <%= render @view_module, @view_template, assigns %>

      <div id="footer" class="ui basic segment">
        <p><i>Created by <a href="https://rekyuu.co">rekyuu</a></i></p>
      </div>
    </div>
  </body>
</html>
