<div class="ui basic center aligned segment">
  <h1 class="ui header">
    <%= @message %>
  </h1>

  <br />

  <a class="ui disabled button" href="/des">Demon's Souls</a>
  <a class="ui button" href="/ds1">Dark Souls</a>
  <a class="ui disabled button" href="/ds2">Dark Souls II</a>
  <a class="ui disabled button" href="/bb">BloodBorne</a>
  <a class="ui button" href="/ds3">Dark Souls III</a>
</div>
